src/main/mule/estoreexpress-error-file.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="estoreexpress-error-fileFlow" doc:id="d931f7e3-079c-4c94-a634-b919034f507e" >
		<ee:transform doc:name="Transform Message" doc:id="4e3ea194-6b75-41b2-a041-2c6c191d8801" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header = true
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="bf39edfb-68a8-495c-bbd6-8e27076cafd2" path="${file.workingdir}/${file.filename}"/>
	</flow>
	<flow name="estoreexpress-error-file-bulkFlow" doc:id="c8ad4600-9900-4bf2-811c-90edc50bcbbc" >
		<ee:transform doc:name="Transform Message" doc:id="45701a39-023d-4e9f-a20a-23987b642038" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header = true
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="6afe31d8-e489-472e-92a1-cc3dbeb3a019" path="${file.workingdir}/${file.bulkfilename}"/>
	</flow>
	<flow name="estoreexpress-error-readfile-bulkFlow-forEach" doc:id="3c10df7d-c82e-497d-8cb9-7f7d07d22df0" initialState="stopped">
		<scheduler doc:name="Scheduler" doc:id="c347fbdc-ea76-48bb-8514-4921ce4c82e9" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<file:read doc:name="Read" doc:id="26254e80-2c75-42d6-9b77-fb08b5a05dfc" path="${file.inputworkingdir}/${file.bulkfilename}"/>
		<ee:transform doc:name="csvToJava" doc:id="932983a3-7cd3-4f46-8aa6-a7c6be948f33" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="36004516-302e-4ac1-b7f0-d8776e6c31a5" batchSize="3">
			<logger level="INFO" doc:name="Logger" doc:id="37352416-1d56-44ab-9c12-30a05ff03dc1" message="#[vars.counter]" />
			<logger level="INFO" doc:name="Logger" doc:id="c1cbdac3-2d70-4be6-bf22-6319578414f0" message="#[output application/json --- payload]" />
		</foreach>
	</flow>
	<flow name="estoreexpress-error-readfile-bulkFlow-batchJob" doc:id="407f49eb-b9d2-4e5e-ab93-8437b5efce20" >
		<scheduler doc:name="Scheduler" doc:id="35dd7383-09e9-4472-9331-0ce4fc235d9a" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<file:read doc:name="Read" doc:id="23a1221e-359b-483e-9919-baf07d9f8a71" path="${file.inputworkingdir}/${file.bulkfilename}"/>
		<ee:transform doc:name="csvToJava" doc:id="35715732-6002-490c-a54c-bb68165ed2a8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5aec74ca-ebe5-4bfd-91f6-cf5d39167271" message="#[output application/json --- payload]" />
	</flow>
</mule>
